@import './variables.scss';
@import './mixins.scss';

html {
	height: 100%;

	body {
		@include theme-switcher() {
			#root {
				.App {
					color: $text-color--light;
					background-color: $body-background-color--light;
				}
			}
		}

		height: 100%;
		margin: 0;
		font-family: $base-font-family;
		line-height: 1.1;
		user-select: none;

		#root {
			height: 100%;
			.App {
				height: 100%;
				color: $text-color--dark;
				background-color: $body-background-color--dark;
			}
		}
	}
}

h1,
h2,
h3 {
	margin-top: 0;
}

h1 {
	font-size: $base-font-size-xl;
	margin-bottom: $space-md;
}
h2 {
	font-size: $base-font-size-lg;
	margin-bottom: $space-md;
}
h3 {
	font-size: $base-font-size-md;
	margin-bottom: $space-sm;
}
