.home-page {
	height: calc(100vh - 195px);

	&__heading {
		text-align: center;
	}

	&__container {
		height: calc(100vh - 326px);
		display: flex;
		justify-content: center;
		align-items: center;

		&_column {
			text-align: center;

			.form {
				padding: 50px;
				margin: 50px;

				label {
					text-align: right;
				}
			}
		}

		&_separator {
			display: block;
			width: 5px;
			min-height: 100%;
			background-color: #ff6269;
		}
	}
}
